<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>购物车</title>
    <link rel="stylesheet" href="/static/css/weui.min.css"/>
	<link rel="stylesheet" href="/static/css/style.css"/>
	<script data-main="/static/js/app/cart" src="/static/js/lib/require.js" defer async="true"></script>
    <style>
		.weui-media-box_appmsg .weui-media-box__hd {
			width: 20px;
		}
		/*
		.weui-media-box {
			padding: 3px;
		}*/
	</style>
</head>

<body>
	<header class="wy-header">
	    <div class="wy-header-icon-back"><a href="javascript:window.history.back();"></a></div>
	    <div class="wy-header-title">购物车</div>
	</header>

	<div class="weui-tab__panel" >
		<div class="weui-panel weui-panel_access" style="margin-top:41px">
			<div class="weui-panel__bd">
				{% for ucp in userCartProds %}
				<div class="weui-media-box weui-media-box_appmsg">
					<div class="weui-media-box__hd weui-cells_checkbox">
						<label class="weui-check__label" for="cart-pto1">
							<div class="weui-cell__hd"><input type="checkbox" class="weui-check" name="cartpro" id="cart-pto1"><i class="weui-icon-checked"></i></div>
						</label>
					</div>
					<div class="weui-media-box__hd" style="width:92px;height:92px;">
						<img class="weui-media-box__thumb" src="{{ucp.image}}" alt="">
					</div>
					<div class="weui-media-box__bd" >
						<h4 class="weui-media-box__title" style="font-size:14px;margin-bottom:5px;">{{ucp.name}}</h4>
						<p class="weui-media-box__desc" style="margin-bottom:10px;">{{ucp.attriValuesStr}}</p>
						<p class="weui-media-box__desc" style="color:red;">¥{{ucp.price}}</p>
					</div>
					<div class="weui-media-box__bd" >
						<div style="float:right;">
							<a href="javascript:;" class="wy-dele" style="margin-bottom:35px;margin-left:65px;"></a>
							<div class="Spinner" count="{{ucp.count}}"></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
    </div>
	
	<div class="weui-tabbar" style="position:fixed">
		<div class="weui-media-box__hd weui-cells_checkbox" style="line-height: 44px;margin-left:15px;">
			<label class="weui-check__label" for="cart-all" >
				<div class="weui-cell__hd" ><input type="checkbox" class="weui-check" id="cart-all"><i class="weui-icon-checked"></i><span style="font-size: 12px;"> 全选<span></div>
			</label>
		</div>
		<div style="margin:0 auto;line-height: 47px;font-size: 12px;">
			总计 : <span style="color:red">￥4905.00</span>
		</div>
		<a href="#" style="width: 110px;background-color: gray;color:#fff;text-align:center;line-height: 44px;font-size: 13px;" id="settlement">
			结算
		</a>
	</div>

</body>
</html>
