<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>消息提示</title>
    <link rel="stylesheet" href="/static/css/weui.min.css"/>
</head>

<body>
	<div class="weui-msg">
		<div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
		<div class="weui-msg__text-area">
			<p class="weui-msg__desc" style="font-size: 14px;">{{msg}}，<a href="javascript:window.location.reload();">点击刷新</a></p>
		</div>
		<div class="weui-msg__extra-area">
			<div class="weui-footer">
				<p class="weui-footer__links">
					<a href="/zshop/" class="weui-footer__link">商城首页</a>
				</p>
				<p class="weui-footer__text">Copyright &copy; 2008-2099 zshop</p>
			</div>
		</div>
	</div>
</body>
</html>
