<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>支付成功</title>
	<link rel="stylesheet" href="/static/css/weui.min.css"/>
	<link rel="stylesheet" href="/static/css/style.css"/>
	<script data-main="/static/js/app/pay-success" src="/static/js/lib/require.js" defer async="true"></script>
</head>

<body>
	<header class="wy-header">
		<div class="wy-header-icon-back"><a href="javascript:window.history.back();"></a></div>
		<div class="wy-header-title">商城</div>
		<div class="wy-header-icon-index"><a href="/zshop/"></a></div>
	</header>

	<div class="weui-msg" style="padding-top: 50px;">
		<div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
		<div class="weui-msg__text-area">
			<h2 class="weui-msg__title" style="font-size: 16px;">支付成功</h2>
			<p class="weui-msg__desc" style="font-size: 14px;">收到该订单了，将尽快为您发货，可以前往<a href="/zshop/user/orderDetail/{{orderId}}">订单详情</a>随时查看状态</p>
		</div>
		<div class="weui-msg__opr-area">
			<p class="weui-btn-area">
				<a href="/zshop/user/orderList" class="weui-btn weui-btn_primary" style="font-size: 14px;height:39px;">订单列表</a>
				<a href="javascript:void(0);" id="cancelOrderBtn" class="weui-btn weui-btn_default" style="font-size: 14px;height:39px;"><i id="cancelOrderLoading"></i>取消订单</a>
			</p>
		</div>
		<div class="weui-msg__extra-area">
			<div class="weui-footer">
				<p class="weui-footer__links">
					<a href="/zshop/" class="weui-footer__link">去首页逛逛</a>
				</p>
				<p class="weui-footer__text">Copyright &copy; 2018-2099 zshop</p>
			</div>
		</div>
	</div>

	<input type="hidden" id="orderId" name="orderId" value="{{orderId}}"/>

	{% include "public-tip.html" %}
</body>
</html>
