<div class="weui-toptips weui-toptips_warn" id="errorTip" style="z-index:99999;font-size: 14px;">错误提示</div>

<div style="display: none;" id="alertDialog">
	<div class="weui-mask"></div>
	<div class="weui-dialog">
		<div class="weui-dialog__hd"><strong class="weui-dialog__title" style="font-size:14px;" id="alertDialogTitle"></strong></div>
		<div class="weui-dialog__bd" style="font-size:14px;" id="alertDialogContent"></div>
		<div class="weui-dialog__ft">
			<a href="javascript:;" id="iKnow" class="weui-dialog__btn weui-dialog__btn_primary" style="font-size:14px;">我知道了</a>
		</div>
	</div>
</div>

<div id="confirmDialog" style="display: none;">
	<div class="weui-mask"></div>
	<div class="weui-dialog">
		<div class="weui-dialog__hd"><strong class="weui-dialog__title" style="font-size:14px;"></strong></div>
		<div class="weui-dialog__bd" style="font-size:14px;" id="confirmDialogContent"></div>
		<div class="weui-dialog__ft">
			<a href="javascript:;" id="confirmAssist" class="weui-dialog__btn weui-dialog__btn_default" style="font-size:14px;">取消</a>
			<a href="javascript:;" id="confirmMain" class="weui-dialog__btn weui-dialog__btn_primary" style="font-size:14px;">确认</a>
		</div>
	</div>
</div>

<div id="publicLoadingToast" style="display: none;">
	<div class="weui-mask_transparent"></div>
	<div class="weui-toast">
		<i class="weui-loading weui-icon_toast"></i>
		<p class="weui-toast__content" style="font-size:14px;" id="publicLoadingToastContent">数据加载中</p>
	</div>
</div>

<div id="publicToast" style="display: none;">
	<div class="weui-mask_transparent"></div>
	<div class="weui-toast">
		<i class="weui-icon-success-no-circle weui-icon_toast"></i>
		<p class="weui-toast__content" style="font-size:14px;" id="publicToastContent">已完成</p>
	</div>
</div>