<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>密码重置</title>
    <link rel="stylesheet" href="/static/css/weui.min.css"/>
	<link rel="stylesheet" href="/static/css/style.css"/>
    <style>
	.weui-cells:after {
		border-bottom: 0px solid #e5e5e5;
	}
	</style>
</head>

<body style="background-color: #ffffff;">
	<header class="wy-header">
		<div class="wy-header-icon-back"><a href="javascript:window.history.back();"></a></div>
		<div class="wy-header-title">密码重置</div>
		<div class="wy-header-icon-index"><a href="/zshop/"></a></div>
	</header>
	
	<form action="/" method="post"> 
		<div class="weui-cells weui-cells_form" style="padding-top: 44px;margin-top: 0px;">
			<div class="weui-cell " style="font-size: 14px;">
				<div class="weui-cell__hd" ><label class="weui-label">手机号码</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="number" pattern="[0-9]*" value="{{mobile}}" placeholder="请输入手机号" id="" name=""/>
				</div>
				<div class="weui-cell__ft">
					<i class="weui-icon-warn" style="font-size: 20px;"></i>
				</div>
			</div>

			<div class="weui-cell " style="font-size: 14px;">
				<div class="weui-cell__hd" ><label class="weui-label">重置密码</label></div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="password" placeholder="请您输入密码" id="" name=""/>
				</div>
				<div class="weui-cell__ft">
					<i class="weui-icon-warn" style="font-size: 20px;"></i>
				</div>
			</div>

			<div class="weui-cell weui-cell_vcode" >
				<div class="weui-cell__bd" >
					<input class="weui-input" type="text" placeholder="短信验证码" style="font-size: 14px; ">
				</div>
				<div class="weui-cell__ft">
					<a href="javascript:;" class="weui-vcode-btn" style="font-size: 14px;/*width: 83px;*/text-align:center;height: 41px;">获取验证码</a>
				</div>
			</div>
			
			<div class="weui-cell weui-cell_vcode">
			</div>
			
			<div class="weui-btn-area" style="margin-bottom: 140px;">
				<!-- input class="weui-btn weui-btn_primary" type="submit" id="confirmBtn" style="font-size: 14px;height:39px;" value="确 定"/> -->
				<a class="weui-btn weui-btn_primary" href="javascript:" id="confirmBtn" style="font-size: 14px;height:39px;"><i id="confirmLoading"></i>确 定</a> 
			</div>
		</div>
	</form>

	<div class="weui-msg__extra-area">
		<div class="weui-footer">
			<p class="weui-footer__text">Copyright &copy; 2018-2099 zshop</p>
		</div>
	</div>

</body>
</html>
