<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>结算</title>
    <link rel="stylesheet" href="/static/css/weui.min.css"/>
	<link rel="stylesheet" href="/static/css/style.css"/>
	<script data-main="/static/js/app/settlement" src="/static/js/lib/require.js" defer async="true"></script>
    <style>
		.weui-media-box {
			padding: 1px;
		}
		.weui-cell:before{
			border-top: 0px solid #e5e5e5;
		}
	</style>
</head>

<body>
	<header class="wy-header">
	    <div class="wy-header-icon-back"><a href="javascript:window.history.back();"></a></div>
	    <div class="wy-header-title">结算</div>
		<div class="wy-header-icon-index"><a href="/zshop/"></a></div>
	</header>

	<div class="weui-tab__panel" style="padding-top:41px">
		<div class="wy-media-box weui-media-box_text address-select">
			<div class="weui-media-box_appmsg weui-cell_access"> 
				<div class="weui-media-box__hd proinfo-txt-l" style="width:20px;margin-right:20px;margin-left:6px;"><span class="promotion-label-tit"><img src="/static/images/icon_nav_city.png" /></span></div>
				<div class="weui-media-box__bd">
					<a href="javascript:void(0);" class="weui-cell_access">
						<p class="address-name"><span>{{order.recipient}}</span><span>{{order.recipientPhone}}</span></p>
						<div class="address-txt">{{order.province}}{{order.city}}{{order.area}}{{order.address}}</div>
					</a>
				</div>
				<div class="weui-media-box__hd proinfo-txt-l" style="width:16px;"><div class="weui-cell_access"><span class="weui-cell__ft"></span></div></div>
			</div>
		</div>

		<input type="hidden" id="orderId" name="orderId" value="{{order.id}}"/>

		<div class="weui-panel weui-panel_access" >
			<div class="weui-panel__bd">
				{% for op in opArr %}
				<a href="/zshop/prodDetail/{{op.prodId}}" class="weui-media-box weui-media-box_appmsg weui-cell_access">
					<div class="weui-media-box__hd" style="width:92px;height:92px;">
						<img class="weui-media-box__thumb" src="{{op.image}}" alt="">
					</div>
					<div class="weui-media-box__bd">
						<h4 class="weui-media-box__title" style="font-size:14px;margin-bottom:5px;">{{op.name}}</h4>
						<p class="weui-media-box__desc" style="margin-bottom:10px;-webkit-line-clamp:1;">{{op.attriValueStr}}</p>
						<p class="weui-media-box__desc" style="color:red;">¥{{op.price}}</p>
					</div>
					<div class="weui-media-box__bd" >
						<div style="float:right;">
							<p style="font-size:15px;color: #999;margin-right:20px;">x{{op.count}}</p>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>

		<div class="weui-cells" style="margin-top:10px;">
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<p style="font-size:14px;margin-left:0px;">配送方式</p>
				</div>
				<div style="margin-right:4px;font-size:14px;color:gray;">{{order.deliveryTypeName}}</div>
			</div>
		</div>

		<div class="weui-cells weui-cells_form" style="margin-top:10px;" >
			<div class="weui-cell" style="padding: 5px 15px;">
				<div class="weui-cell__bd">
					<p style="font-size:14px;margin-left:0px;">商品金额</p>
				</div>
				<div style="margin-right:4px;font-size:14px;color:red;">¥{{order.prodPrice}}</div>
			</div>
			<div class="weui-cell" style="padding: 5px 15px;">
				<div class="weui-cell__bd">
					<p style="font-size:14px;margin-left:0px;">物流运费</p>
				</div>
				<div style="margin-right:4px;font-size:14px;color:red;">+ ¥{{order.deliveryFee}}</div>
			</div>
			<div class="weui-cell" style="padding: 5px 15px;">
				<div class="weui-cell__bd">
					<p style="font-size:14px;margin-left:0px;">总的金额</p>
				</div>
				<div style="margin-right:4px;font-size:14px;color:red;">¥{{order.totalPrice}}</div>
			</div>
			
			<div class="weui-cell" >
				<a class="weui-btn weui-btn_primary" href="javascript:void(0);" id="wePayBtn" style="width:100%;font-size: 14px;height:39px;"><i id="payLoading"></i>微信支付</a>
			</div>
		</div>

	</div>
	{% include "public-tip.html" %}
</body>
</html>
